/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 9:13:59 PM
    Author     : Marisa
*/

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}


.file_toolbar{
    
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: #98ADFF; //blue
    -fx-hgap: 5px;
 
}
.file_toolbar_button{
    
    -fx-background-color:transparent;
}
.file_toolbar_exit_button{
    
    -fx-background-color:transparent;
    -fx-alignment: bottom-right;
}
.workspace_mode_toolbar{
    
    -fx-alignment: CENTER;
    -fx-background-color: #AEBEFF; //lightblue
    -fx-bottom-border-color: #98ADFF; 
    -fx-hgap: 20px;
    
}
.workspace_mode_toolbar_button{
    
    -fx-alignment: CENTER;
    -fx-background-color:#C3CFFF; //even lighter blue
    -fx-padding: 5px 10px 5px 10px;
}


.name{
    
    -fx-background-color: #AEBEFF;
}
.comp_toolbox {
    
    -fx-alignment: CENTER;
    -fx-background-color:#AEBEFF;
   // -fx-padding-top: 20px;
    
}

.comp_toolbox_button{
    -fx-alignment: CENTER;
    -fx-background-color:transparent;
    -fx-padding: 8px 8px 8px 8px;
    -fx-vertical-spacing:40px;
}

.update_button{
  -fx-background-color:transparent;  
  -fx-hgap: 50px;
  -fx-alignment: CENTER;
    
}
.comp_tools{
    
    -fx-background-color:#AEBEFF;
    -fx-alignment: CENTER;
}
.comp_title{
    
     -fx-background-color:#98ADFF;
     -fx-alignment:CENTER;
     //-fx-padding: 10px 10px 10px 10px;
}

.workspace{
     -fx-background-color:grey;
     -fx-control-inner-background: grey;
}


.theme_title{
    -fx-alignment: CENTER;
    -fx-background-color: #98ADFF;
}

.themes_toolbox{
    
    -fx-background-color: #AEBEFF; 
}
.themes_toolbox.combo-box{ 
    
    -fx-bottom-padding: 10px;
    -fx-left-padding: 5px;
}

.themes_toolbox .label{
     
    -fx-left-padding: 5px;
    -fx-bottom-padding: 5px;
}

.page_title{
    -fx-background-color: #98ADFF;
}
.site_title{
    -fx-alignment: CENTER;
    -fx-background-color: #AEBEFF;
}

.site_toolbar{
    
    -fx-alignment: CENTER;
    -fx-background-color: #AEBEFF;
}
.site_toolbar .label{
    -fx-right-padding: 10px;
    -fx-padding: 10px 10px 10px 10px;
}

.site_toolbar_button{
 
    -fx-background-color: transparent;
}

.list_pages{
    
    -fx-alignment: top-left;
    -fx-background-color: #AEBEFF; 
}

.list_pages_scroll{
    
    -fx-focus-color: #AEBEFF; //selected border color
    -fx-background: #AEBEFF; //background
    -fx-background-color: #AEBEFF; //border color
}

.combo-box{
    -fx-pref-width: 130;
    -fx-font-family: roboto;
    -fx-font-size: 13px;
}

.label{
    -fx-padding: 10px 10px 10px 10px;
    -fx-font-family: roboto;
    -fx-font-size: 14px;
}

.textfield{
    -fx-pref-width: 20;
}

// Dialogues

.image_dialogue{
    
    -fx-alignment: CENTER;
    -fx-background-color: #AEBEFF;
}

.okCancel_hbox{
    
    -fx-padding: 40px 30px 20px 30px;
}

.header_vbox{
    
    -fx-font-size: 18px;
}

.text_dialogue{
    
    -fx-padding-left: 10px;
    -fx-padding-down: 10px;
    -fx-alignment: CENTER;
    -fx-background-color: #AEBEFF;
}

.text_dialogue_hbox{
    
    -fx-alignment: CENTER;
    -fx-padding-left: 10px;
    -fx-background-color: #AEBEFF;
}


.video_dialogue{
    
    -fx-alignment: CENTER;
    -fx-background-color: #AEBEFF;
}

okcancel_button{
    
    -fx-background-color: #C3CFFF;
    -fx-border-color: #C3CFFF;
}

.p_comp_example{
    
    -fx-background-color: #C3CFFF;
    -fx-border-color: black;
}

// component styles to display in the workspace

.image_comp{
    
    -fx-padding-left: 10px;
    -fx-background-color: #98ADFF;
    
}

.image_icon_comp{
    
    -fx-padding: 10px 10px 0px 10px;
}

.select_comp{
    
    -fx-background-color: lightgreen;
    -fx-border-color: forestgreen;
}
.select_comp_title{
    
    -fx-padding: 10px 10px 0px 10px;
    -fx-background-color: #47D17E;
 
}